# Gradle Files
.gradle

# Generated Hidden Files
._*

# Local files
tmp/**
temp/**
backups/**
zwookodb/data/**
configuration.php
tools/generate_user_password.sh
.vscode/**

# Secure scripts
database.php
