body {
    background-color: lightgray;
}

#app-logo-img {
    width: 25%;
    height: auto;
    object-fit: cover;
}

#app-logo {
    text-decoration: none;
    opacity: 85%;
}

.ticket-container {
    margin-top: 5%;
    width: 80%;
}

#task-confirm-btn {
    margin-top: 5%;
}

.form-header {
    background-color: cornflowerblue;
    opacity: 85%;
}

.form-panel {
    border: 1px solid lightgray;
    width: 80%;  /* Image Width */
    height: 80%; /* Image Height */
    display: block;
    position: relative;
}

.form-horizontal {
    background-color: lightgray;
    opacity: 0.9;
}

.page-header {
    color: red;
}

#sidebar-wrapper {
    background-color: lightgray;
}

#sidebar-wrapper, .sidebar-heading {
    background-color: lightgrey;
}

.centering-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full height of the viewport */
}

.main-container {
    width: 80%;
}

.content {
    /* Your content styles */
}

/* Side Navi Selected */
.selected {
    background-color: black;
    color: white;
}